[submodule "Vendor/DgLib"]
	path = Vendor/DgLib
	url = https://github.com/int-Frank/DgLib.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/BuildScripts"]
	path = Vendor/BuildScripts
	url = https://github.com/int-Frank/BuildScripts.git
[submodule "Vendor/cppunitlite"]
	path = Vendor/cppunitlite
	url = https://github.com/int-Frank/cppunitlite.git
